    body,html {
            margin: 0;
            padding: 0;
            font-size: 66%;
            font-weight: 300;
            box-sizing: border-box
        }

        body,
        button,
        textarea,
        input,
        input::-webkit-input-placeholder {
            font-family: Helvetica;
        }

        *,
        :after,
        :before {
            box-sizing: inherit;
        }

        :active,
        :focus {
            outline: 0
        }

        
        div,
        p,
        span {
            font-size: 16px
        }

        .dc8 {
            position: relative;
            width: 100%;
            max-width: 35%;
            padding: 0 14px 20px 0px;
        }

        @media (max-width:480px) {
            .dc8 {
                padding: 0 10px 20px 0px;
                max-width: 50%;
            }
        }

        .container-text {
            font-family: Arial, Helvetica, sans-serif;
            font-size: inherit;
            line-height: 1.8;
            margin: 0 0;
            color: #423535;
        }

        .container-img {
            padding: 1rem 2rem 2rem 2rem;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 10;
            background: white;
            border: 0px solid #f5f1f1;
            border-radius: 0;
            box-sizing: border-box;
            
        }

        .container img {
            width: 100%;
            height: 100%;
        }

        .part img{
            width: 100%;
            height: 100%;
        }

        .c2 img{
            width: 100%;
            height: 100%;
            
        }
        .allcontainer {
            position: relative;
            width: 100%;
            max-width: 33%;
            padding: 0 7px 18px 6px;
        
        }

        @media (max-width:480px) {
            .allcontainer {
                padding: 0 0px 20px 10px;
                max-width: 50%;
            }
        }

        .part {
            position: relative;
            overflow: hidden;
            float: left;
            width: 100%;
            max-width: 25%;
            padding: 0 10px 10px 0px;
        }

                    
        @media (max-width:480px) {
            .part {
                padding: 0 5px 10px 0px;
                max-width: 50%;
            }
        }

        .loc-text {
            position: relative;
            width: 100%;
            flex-shrink: 0;
            max-width: 33%;
            padding: 0 10px 15px 0px;
        }

        @media (max-width:480px) {
            .loc-text {
                padding: 0 0px 15px 0px;
                max-width: 100%;
            }
        }

        @media (max-width:480px) {
            .jdRPl {
                padding: 0 0px 15px 0px;
                max-width: 100%;
            }
        }

        .hc1 {
            font-size: 4.4rem;
            line-height: 1.2;
            font-weight: 400;
            color: #1C1C1C;
            margin: 0;
        }

        .container {
            position: relative;
            max-width: 100%;
            width: 100%;
            height: 24rem;
            overflow: hidden;
            border-radius: 5px;
        }

        .img-resize {
            position: relative;
            max-width: 100%;
            height: 32rem;
            overflow: hidden;
        }

        .nv1 {
            width: 100%;
            list-style: none;
            max-width: 100%;
            height: 80px;
            padding-top: 1.5rem;
            padding-bottom: 1.7rem;
            display: flex;
            flex-wrap: nowrap;
            background: transparent;
            align-items: center;
            justify-content: flex-end;
            user-select: none;
            opacity: 1;
            transition-delay: 0s;
            padding: 1.7rem 0;
            margin: 0;
        }

        .nv1>* {
            margin-right: 3rem;
        }

        @media screen and (max-width:768px) {
            .nv1 {
                height: 0;
                visibility: hidden;
                flex-direction: column;
                position: absolute;
                width: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                background: #FFFFFF;
                top: 99%;
                left: 0;
                margin: 0;
                padding: 0;
                transition: height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1);
            }
        }

        .nav1 {
            padding-bottom: 0;
            border-radius: 0;
            box-sizing: border-box;
            border-style: solid;
            border-color: transparent;
            border-width: 0;
            border-bottom-width: 0.2rem;
        }

        .nav1>* {
            margin-right: 2rem;
        }

        .nav1>*:last-child {
            margin-right: 0;
        }

        @media (hover:none) {
            .nav1 {
                box-shadow: none;
                outline: none;
            }
        }

        @media screen and (max-width:768px) {
            .nav1 {
                margin-bottom: 3.5rem;
                width: 100%;
                opacity: 0;
                transition: opacity 0.25s linear;
            }
            
            .nav1>* {
                margin-right: 0;
            }
        }

        .c1 {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .a1 {
            width: 100%;
            max-width: 100%;
            display: block;
            position: absolute;
            height: 7.2rem;
            justify-content: space-between;
            align-items: center;
            top: 0;
            transition: opacity 0.25s linear, height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
            background-color: transparent;
        }

        @media (min-width:768px) and (max-width:900px) {
            .a1 {
                padding: 0 1.5rem;
            }
        }

        .b1 {
            width: 100%;
            max-width: 110rem;
            padding-right: 0;
            margin: 0 auto;
            display: flex;
            flex-wrap: nowrap;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 4;
        }

        .c1 {
            display: none;
            height: 7.2rem;
            overflow: hidden;
            position: absolute;
            width: 100%;
            margin: 0;
            padding: 0 1.5rem;
            background: transparent;
        }

        @media screen and (max-width:768px) {
            .c1 {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                z-index: 4;
            }
        }

        .d1 {
            display: none;
            z-index: 2;
            height: 100%;
            width: auto;
            display: flex;
            flex-grow: 0;
            border-bottom: none;
            align-items: center;
            justify-content: center;
        }

        .dc4 {
            display: flex;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            width: 6rem;
            margin: -1px;
            margin-right: -0.6rem;
        }

        @media (min-width:481px) {
            .dc3 {
                border-radius: 0.8rem;
                width: 53rem;
                height: 100%;
                display: flex;
                position: relative;
            }
        }

        @media (max-width:480px) {
            .dc3 {
                width: 100%;
                border: none;
                border-radius: 0;
            }
        }


        .search {
            border: none;
            font-size: 1.8rem;
            width: 100%;
        }

        .dc1 {
            display: flex;
            align-items: center;
            height: 5.4rem;
            background: #FFFFFF;
            border-radius: 0.8rem;
            box-shadow: 0px 2px 8px rgba(36, 35, 35, 0.08);
            border: 1px solid #E8E8E8;
        }


        .n1 {
            font-size: 1.8rem;
            line-height: 1.5;
            text-align: right;
            vertical-align: middle;
            font-weight: 300;
            color: #FFFFFF;
            cursor: pointer;
            padding: 0.8rem;
            border-radius: 0.6rem;
            vertical-align: middle;
            background: transparent;
        }

        .n1:hover {
            color: #FFFFFF;
        }

        .n1:active,
        .n1:hover:active {
            color: #FFFFFF;
            border-bottom-color: #FFFFFF;
            outline: none;
        }


        @media screen and (max-width:768px) {
            .n1 {
                color: #5d5b5b;
                border-radius: 0;
                border-width: 0;
                border-color: transparent;
            }
            .n1:hover {
                color: #1c1b1b;
            }
        }


        .dc2 {
            display: flex;
            justify-content: space-around;
            position: relative;
            height: 100%;
            width: max-content;
            border-radius: 0.8rem;
            padding: 0 1rem;
            align-items: center;
        }


        .all-co-tag {
            display: inline-flex;
            position: relative;
            padding: 0rem;
            background-color: transparent;
            cursor: pointer;
            border: 0.1rem solid transparent;
            border-radius: 0.4rem;
            line-height: 1;
            
        }

        .collection-onclick:hover .all-co-tag {
            color: black;
            text-decoration: none;
        }

        .collection-onclick:focus .all-co-tag {
            border-color: #FFB1C0;
        }

        .collection-onclick:active .all-co-tag,
        .collection-onclick:visited .all-co-tag {
            color: #E03546;
        }

        .all-co-tag .icon-left {
            transition: 0.3s ease;
        }

        .all-co-tag .icon-right {
            transition: 0.4s ease;
        }

        .all-co-tag:hover .icon-left {
            margin: 0 0.8rem 0 -0.4rem;
        }

        .all-co-tag:hover .icon-right {
            margin: 0 -1.1rem 0 1.5rem;
        }

        .all-co-tag:focus,
        .all-co-tag:hover,
        .all-co-tag:active {
            -webkit-text-decoration: none;
            text-decoration: none;
            border-color: transparent;
        }

        .all-co-tag>i {
            margin-left: 0;
            margin-right: 0;
        }


        .co-description {
            font-size: 2rem;
            line-height: 2.8;
            font-weight: 500;
            color: #181818;
            margin: 0;
            border: 5px;
        }

        .c-sub-text {
            display: flex;
            align-items: center;
            margin: 0.3rem 0 1rem;
            padding: 0 1.6rem;
        }

        @media (max-width:480px) {
            .c-sub-text {
                padding: 0 1rem;
                margin: 0.3rem 0 1rem 0;
            }
        }


        .corner {
            border-radius: 0.6rem;
        }



        .img-effect {
            position: relative;
            cursor: pointer;
        }


        .co-img-text {
            font-size: inherit;
            line-height: 0.5;
            margin: 0 0;
            color: #FFFFFF;
            padding: 0 1.6rem;
            font-size: 1.8rem;
            width: 100%;
        }
        
        @media (max-width:480px) {
            .co-img-text {
                padding: 0 1rem;
                font-size: 1.4rem;
                line-height: 2.4rem;
            }
        }

        .darken {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0.6rem;
            width: 100%;
            height: 100%;
            background: linear-gradient( 0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
        }

        .text-position {
            color: #FFFFFF;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .loc-box {
            padding: 1.2rem 1.5rem;
            border-radius: 0.8rem;
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        .loc-box .img-title-box .flag-img {
            margin-right: 0.8rem;
        }

        @media (max-width:480px) {
            .loc-box {
                padding: 1.8rem 2.2rem;
                margin-bottom: 0;
            }
            .loc-box .flag-img {
                height: 4rem;
            }
        }


        .c2 {
            position: relative;
            margin-bottom: 4rem;
        }

        @media (max-width:480px) {
            .c2 {
                margin-bottom: 1.5rem;
            }
        }

        .c2 .contents-wrapper {
            position: absolute;
            bottom: calc(50% - 11.1rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        @media (max-width:480px) {
            .c2 .contents-wrapper {
                bottom: 2rem;
            }
        }

        .c2 .contents-wrapper .description {
            margin-top: 3rem;
            color: white;
            text-align: center;
            font-size: 3.6rem;
        }

        @media (max-width:480px) {
            .c2 .contents-wrapper .description {
                margin-top: 2rem;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
            }
        }

        .c2 .contents-wrapper .description .next-line {
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
        }

        @media (max-width:480px) {
            .c2 .contents-wrapper .description .next-line {
                display: block;
                font-size: 20px;
                line-height: 32px;
            }
        }

        .c2 .contents-wrapper .searchContainer {
            border-width: 0;
            margin-top: 3rem;
        }

        @media (max-width:768px) {
            .c2 .contents-wrapper .searchContainer {
                width: calc(100% - 4.8rem);
            }
        }

        .dc5 {
            position: relative;
            max-width: 110rem;
            max-height: initial;
            margin: 0 auto;
            margin-bottom: 6rem;
            width: 100%;
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }

        .dc9 {
            position: relative;
            max-width: 110rem;
            max-height: initial;
            margin: 0 auto;
            margin-bottom: 6rem;
            width: 100%;
            margin-top: 10px;
        }

        .dc10 {
            position: relative;
            max-width: 110rem;
            max-height: 50rem;
            margin: 0 auto;
            margin-bottom: 61rem;
            width: 100%;
            position: relative;
        }
        
        .dc11{
            margin-top: 40%;
        }

        @media (max-width:480px) {
            .dc5 {
                max-width: 42.4rem;
                margin: 0 2.4rem;
            }
        }

        @media (min-width:481px) and (max-width:768px) {
            .dc5 {
                max-width: 72rem;
                margin: 0 2.4rem;
            }
        }

        .dc5 a {
            text-decoration: none;
        }

        @media (max-width:480px) {
            .dc6 {
                margin-bottom: 6rem;
            }
        }

        .ahc1 {
            display: block;
            text-decoration: none;
            position: relative;
            cursor: pointer;
            transition: transform 300ms;
        }

        @media (min-width:481px) {
            .ahc1:hover {
                transform: scale(1.05);
            }
        }

        @media (max-width:480px) {
            .ahc1:active {
                transform: scale(0.95);
            }
        }

        .allcollection .title {
            font-weight: 500;
        }

        @media (max-width:480px) {
            .allcollection .title {
                font-size: 2rem;
                line-height: 3.2rem;
            }
        }

        .allcollection .desc-see-more-link {
            display: flex;
            justify-content: space-between;
            margin-top: 0.4rem;
        }

        .allcollection .desc-see-more-link .desc {
            line-height: 1.4;
            font-weight: 300;
            color: #363636;
        }

        @media (max-width:480px) {
            .allcollection .desc-see-more-link .desc {
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
        }

        @media (max-width:480px) {
            .allcollection .desc-see-more-link {
                margin-top: 0rem;
                font-size: 1.2rem;
                line-height: 1.6rem;
                margin-bottom: 2rem;
            }
        }

        .allcollection i {
            margin-left: 1rem;
        }

        .collection {
            margin-bottom: 10rem;
        }

        @media (max-width:480px) {
            .collection {
                margin-bottom: 4.8rem;
            }
        }

        .collection .cards {
            margin-top: 3rem;
        }

        .toppart {
            background: rgb(200, 200, 200);
            height: auto; 
            min-height: 42rem; 
            max-height: 57rem; 
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        .toppart .banner-image {
            filter: blur(14px);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; 
            height: 100%; 
            object-fit: cover;
            object-position: center; 
            border: 0;
        }

        .container1 {
            text-align: left;
        }
        .grid {
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .card2 {
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 16px;
            padding: 20px;
            width: 180px;
            text-align: center;
            float: left;
            margin: 10px;
            align-items: center;
        }
        .card2 a {
            text-decoration: none;
            color: black;
        }
        .card2 a:hover {
            color: rgb(29, 172, 96);
        }
        .card2 h2 {
            font-size: 1em;
            margin: 0 0 5px 0;
        }
        .card2 p {
            margin: 0;
            color: #0e0e0e;
        }

        .footer-alignment {
            width: 100%;
            background: #F8F8F8;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        @media (min-width:768px) and (max-width:900px) {
            .footer-alignment {
                padding: 0 1.5rem;
            }
        }
        .footer-align {
            max-width: 110rem;
            width: 110rem;
            padding: 4.8rem 0 2.2rem 0;
            position: relative;
        }

        @media (max-width:768px) and (min-width:481px) {
            .footer-align {
                padding: 4.8rem 2.4rem 2.2rem 2.4rem;
            }
        }

        @media (max-width:480px) {
            .footer-align {
                padding: 4.8rem 1rem 14.2rem 1rem;
            }
        }
        .footer-right {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 2rem;
            margin-top: -4rem;
        }

        @media (max-width:480px) {
            .footer-right {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .alignment {
            width: 100%;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .cDEyWL {
            margin-top: 1.2rem;
            margin-left: 2rem;
        }

        @media (max-width:768px) and (min-width:481px) {
            .cDEyWL {
                margin-right: 1.2rem;
            }
        }

        .footer-spacing {
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        .small-points {
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: #696969;
            margin: 0.5rem 0;
            cursor: pointer;
        }

        @media (max-width:480px) {
            .small-points {
                font-size: 1.3rem;
                line-height: 1.6rem;
            }
        }
        .footer-elements {
            font-size: 1.4rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0 0 1.2rem 0;
        }
        .social-icons {
            display: flex;
            cursor:pointer;
            justify-content: flex-start;
        }

        @media (max-width:480px) {
            .social-icons {
                margin-left: 0.6rem;
            }
        }

        @media (max-width:550px) and (min-width:481px) {
            .social-icons {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }
        }

        .social {
            position: relative;
            width: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            max-width: 18.333333333333336%;
            padding: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
        }



            @media (max-width: 768px) {
                .dc5 {
                    flex-direction: column;
                }
            
                .cards {
                    width: 100%;
                }
            
                .grid {
                    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                }
            
                .footer-spacing {
                    flex-direction: column;
                }
            }

            .container {
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                padding: 10px;
                height: auto;
            }
            
            summary {
                text-align: center;
                margin-bottom: 20px;
                cursor: pointer;
                font-size: 20px;
                font-weight: bold;
            }
            
            
            .category-content {
                margin-top: 10px;
            }
            
            .category {
                border: 1px solid #e0e0e0;
                border-radius: 10px;
                margin-bottom: 10px;
                padding: 10px;
            }
            
            .category-title {
                font-weight: bold;
                margin-bottom: -5px;
            }
            
            .category-items {
                color: #777;
                margin-top: 10px;
            }
            
            @media (max-width: 768px) {
                .category-items {
                    font-size: 14px;
                }
            }
            
            @media (max-width: 480px) {
                summary {
                    font-size: 18px;
                }
            
                .category-items {
                    font-size: 12px;
                }
            }
            
            summary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
            }
            
            summary::marker {
                order: 2;
            }            

